@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 179, 49%, 83%, 1;
    --primary-foreground: 0 0% 98%;

    --secondary: 203, 58%, 25%, 1;
    --secondary-foreground: 0 0% 9%;

    --muted: 205, 100%, 90%, 1;
    --muted-foreground: 0 0% 45.1%;

    --accent: 192, 50%, 59%, 1;
    --accent-foreground: 0 0% 9%;

    --destructive: 202, 57%, 60%, 1;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --mint-green: 179, 49%, 83%, 1;
    --moonstone: 192, 50%, 59%, 1;
    --indigo-dye: 203, 58%, 25%, 1;
    --columbia-blue: 205, 100%, 90%, 1;
    --picton-blue: 202, 57%, 60%, 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#turnkey-default-iframe-element-id {
  filter: brightness(0.96);
  width: 100%;
  height: 100%;
}
